var session = mysqlx.getSession("{{ mysql_innodb_cluster_username }}:{{ mysql_innodb_cluster_password }}@{{ ansible_default_ipv4.address }}:33060")
var clusterName = "{{ mysql_cluster_name }}"
shell.setSession(session)
try {
  var schema = session.getSchema("mysql_innodb_cluster_metadata")
  print("InnoDB Cluster already created.")
} catch(e) {
  dba.createCluster(clusterName, {"adoptFromGR": true})
  print("InnoDB Cluster create successful.")
}
