{{ ansible_managed | comment }}
[Unit]
Description=MySQL Server
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
Type=notify
# Disable service start and stop timeout logic of systemd for mysqld service.
TimeoutSec=0
# Set environment variable MYSQLD_PARENT_PID. This is required for restart.
Environment=MYSQLD_PARENT_PID=1
{% if ansible_os_family == 'RedHat' and ansible_distribution_major_version == "7" and ansible_architecture == "aarch64" %}
Environment=LD_PRELOAD=/usr/local/jemalloc/lib/libjemalloc.so
{% elif ansible_os_family == 'Debian' %}
Environment=LD_PRELOAD=/usr/lib/{{ ansible_architecture }}-linux-gnu/libjemalloc.so
{% else %}
Environment=LD_PRELOAD=/lib64/libjemalloc.so
{% endif %}
# EnvironmentFile=-/etc/sysconfig/mysql
# Start main service
ExecStart={{ mysql_basedir }}/bin/mysqld --defaults-file={{ mysql_basedir }}/etc/my.cnf
# Sets open_files_limit
LimitNOFILE=10000
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false
PermissionsStartOnly=true
RestartPreventExitStatus=1
