[client]
user                    = root
password                = {{ mysql_root_password }}
socket                  = {{ mysql_socket }}
default-character-set   = {{ mysql_character_set_server }}

[mysqladmin]
user                    = root
password                = {{ mysql_root_password }}
socket                  = {{ mysql_socket }}
default-character-set   = {{ mysql_character_set_server }}
