[client]
user                    = root
password                = {{ mysql_root_password }}
socket                  = {{ mysql_socket }}

[mysqladmin]
user                    = root
password                = {{ mysql_root_password }}
socket                  = {{ mysql_socket }}
